PORT=3000
DB_PASS=<db-pass>
DB_USER=root
DB_HOST=db
DB_PORT=3306
DB_NAME=menu_app
JWT_SECRET=<jwt-secret>
ACCESS_TOKEN_TTL_SECONDS=3600
SALT_ROUNDS=12
DEFAULT_ADMIN_EMAIL=<app-admin-email>
DEFAULT_ADMIN_PASSWORD=<app-admin-pass>
